# Terraform Çalışma Dizinleri
.terraform/

# State Dosyaları (Güvenlik için asla yükleme)
*.tfstate
*.tfstate.*
terraform.tfstate.backup
*.tfstate.lock.info

# Hassas Veriler
*.tfvars
*.tfvars.json
*.json
*.override.tf
*.override.tf.json

# İşletim Sistemi Kalıntıları
.DS_Store
Thumbs.db